<!DOCTYPE html>
<html>

<head>
    <title>Prime numbers | Ureeqa</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-cyan w3-card w3-center">
            <a href="#" class="w3-button w3-padding-large">Prime numbers</a>
        </div>
    </div>